@model IEnumerable<IssueTrackingSystem.Models.Space>

@{
    ViewBag.Title = "Index";
}

<h2>My Tickets</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Due date</th>
                </tr>
                @foreach (var ticket in item.Tickets)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => ticket.Title) </td>
                        <td>@Html.DisplayFor(modelItem => ticket.Eta)</td>
                        @{ 
                            var dict = new RouteValueDictionary();
                            dict.Add("id", ticket.Id);
                            dict.Add("spacename", ticket.space.Name);
                        }
                        <td>@Html.ActionLink("Details", "Ticket", "Space", dict, null)</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
}

</table>
