.filterable {
    margin-top: 15px;
}

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

td {
    margin: 50px;
}

#create-space, #create-user, #creatediv {
    margin-top: 30px;
    margin-left: 30px;
}

#add-user {
    margin: 30px;
}

.form-horizontal {
    margin-top: 15px;
}

dl dt {
    margin-left: 0;
    display: inline;
}
